:host {
  display: block;
}

.entry {
  display: block;
  border-bottom: 1px solid gray;
  padding: 0.5rem 0.2rem;
}
.title {
  font-weight: 500;
}
.timestamp {
  font-size: 0.6rem;
  font-weight: 300;
  margin-left: 0.2rem;
}