:host {
  display: block;
  overflow: scroll;
}
.workspace {
  display: grid;
  grid-template-columns: 10rem auto;
  grid-template-rows: auto;  
  grid-template-areas: 
    "global global"
    "header header"
    "navigation space"
    "footer footer";  
}
#global {
  grid-area: global;
  background-color: #4e4e4e;
}
#header {
  grid-area: header;
  border-bottom: 1px solid gray;
  display: none;
}
#navigation {
  grid-area: navigation;
  border-right: 1px solid gray;
}
#footer {
  grid-area: footer;
  border-top: 1px solid gray;
  background-color: #fefefe;
  padding: 2rem;
  margin-top: 1rem;
}
#space {
  grid-area: space;
}
#space div {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);  
  padding: 1rem;
}

